{% load static %}
<link href="{% static 'css/base.css'%}" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="topbar">
   <div id="logo">
       <img src="{% static "images/logo.png" %}">
    </div>
</div>

<div id="sidebar">
       <a href="{% url 'auth' %}"><img src="{% static "images/home3.png" %}">YAHAIT 홈</a><br>
       <a href="{% url 'map' %}"><img src="{% static "images/map2.png" %}">항만지도</a><br>
       <a href="{% url 'create' %}"><img src="{% static "images/new2.png" %}">새 컨테이너</a><br>
       <a href="{% url 'tensor' %}"><img src="{% static "images/graph4.png" %}">데이터분석</a><br>


</div>

{% block content %}


{% endblock %}

</body>
</html>

<script>


{% block js %}
{% endblock %}



</script>
