{% load static %}
<link href="{% static 'css/base.css'%}" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="topbar">

</div>

<div id="sidebar">

       <a href="{% url 'auth' %}">YAHAIT 홈</a><br>
       <a href="{% url 'map' %}">항만지도</a><br>
       <div id="new"><a href="{% url 'create' %}">새 컨테이너</a></div><br>
       <a href="">3번</a><br>
       <a href="">4번</a><br>
       <a href="">5번</a><br>

</div>

{% block content %}


{% endblock %}

</body>
</html>

<script>


{% block js %}
{% endblock %}



</script>
