{% extends 'base.html' %}


{% block content %}

{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<!--<script src="{% static 'js/jquery-ui-1.12.1/datepicker-ko.js' %}"></script>-->
<script src="{% static 'js/create.js' %}"></script>
<link href="{% static 'css/create.css'%}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" >

<script>

</script>
<img src="{% static "images/plus3.png" %}">
<h2>새 컨테이너</h2>


<div id="main">
     <form id="form" name="form" method="post" enctype="multipart/form-data">
                <b>컨테이너 번호</b>&nbsp; &nbsp;  <input type ="text" name="ContainerID"/><br>
                <b>사이즈/타입</b>&nbsp;&nbsp; &nbsp; &nbsp; <input type ="text" name="SizeType"/><br>
                <b>총 중량</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <input type ="text" name="TotalWeight"/><br>
                <b>품명 &nbsp;</b>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <input type ="text" name="GoodsName"/><br>
                <b>화물구분</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <select name="GoodsClassify">
                    <option>철강</option>
                    <option>금속</option>
                    <option>기계</option>
                    <option>식품</option>
                    <option>의류</option>
                    <option>부품</option>
                    <option>목재</option>
                    <option>액체</option>
                </select><br>
                <b>컨테이너 위치</b>&nbsp; &nbsp; &nbsp;
                <select name="Section">
                    <option>0</option>
                    <option>A</option>
                    <option>B</option>
                </select><br>
                <b>하선장소</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type ="text" name="LeavePlace"/><br>
                <b>반출일자</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type ="text" id="datepicker1" name="CarryingDate"/><br>

            <div class="button">
                <input type="button" value="등록" onclick="send()" />
            </div>
            <div class="reset">
                <input type="reset" value="초기화"/>
            </div>
    </form>
</div>



{% endblock %}



{% block js %}



{% endblock %}

<!--
<script>
$(function() {
  $( "#datepicker1" ).datepicker({
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
    dayNames: ['일','월','화','수','목','금','토'],
    dayNamesShort: ['일','월','화','수','목','금','토'],
    dayNamesMin: ['일','월','화','수','목','금','토'],
    showMonthAfterYear: true,
    changeMonth: true,
    changeYear: true,
    yearSuffix: '년'
  });
});
</script>-->
