{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>


<input type="hidden" value={{ConID}} id="ConID" class="ConID">

<label id="ContainerID"> 컨테이너 번호 : </label>{{ ConID}}
<br>

<label id="TemperX">현재온도</label>
<input type=text id="TemperY">
<br>

<label id="HumidX">현재습도</label>
<input type=text id="HumidY">
<br>

<label id="SetTemperX">설정온도</label>
<input type=text id="SetTemperY">
<br>

<label id="SetHumidX">설정습도</label>
<input type=text id="SetHumidY">
<br>

<label id="DoorX">개폐장치</label>
<input type=text id="DoorY">
<br>

<label id="UpTemperX">온열기</label>
<input type=text id="UpTemperY">
<br>

<label id="DoTemperX">냉방기</label>
<input type=text id="DoTemperY">
<br>

<label id="UpHumidX">가습기</label>
<input type=text id="UpHumidY">
<br>

<label id="DoHumidX">제습기</label>
<input type=text id="DoHumidY">
<br>

<button onclick="control()">조작</button>
<br>

{% endblock %}


{% block js %}



{% endblock %}
