{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>

<link href="{% static 'css/main.css'%}" rel="stylesheet">


<div id="bar">
    아이콘/탭 이름 나올 부분
</div>

<table id="sourcetable" border="1">
                    <thead>
                        <tr>
                            <th>ContainerID</th>
                            <th>SizeType</th>
                            <th>TotalWeight</th>
                            <th>GoodsName</th>
                            <th>GoodsClassify</th>

                            <th>Section</th>
                            <th>LeavePlace</th>
                            <th>CarryingDate</th>

                            <th>Check</th>
                        </tr>
                    </thead>
</table>

The field to fill in with second item of a row : <input type="text" id="fillname" value="" />

{% endblock %}


{% block js %}



{% endblock %}
