{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<link href="{% static 'css/map.css'%}" rel="stylesheet">



<div id="map">
    <input type="button" value="0" onclick="fun0()">
    <input type="button" value="A" onclick="funA()">
    <input type="button" value="B" onclick="funB()">
</div>

    <div id="select-bar0" class="select-bar">
        <table id="0table" class="placetable" border="1">
                    <thead>
                        <tr>
                            <th width="130px">컨테이너 번호</th>
                            <th width="130px">컨테이너 위치</th>
                            <th>체크여부</th>
                        </tr>
                    </thead>
        </table>
    </div>
    <div id="select-barA" class="select-bar">
        <table id="Atable" class="placetable" border="1">
                    <thead>
                        <tr>
                            <th width="130px">컨테이너 번호</th>
                            <th width="130px">컨테이너 위치</th>
                            <th>체크여부</th>
                        </tr>
                    </thead>
        </table>
    </div>
    <div id="select-barB" class="select-bar">
        <table id="Btable" class="placetable" border="1">
                    <thead>
                        <tr>
                            <th width="130px">컨테이너 번호</th>
                            <th width="130px">컨테이너 위치</th>
                            <th>체크여부</th>
                        </tr>
                    </thead>
        </table>
    </div>



    <div id="Search">
    </div>
{% endblock %}





{% block js %}



{% endblock %}
