{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<link href="{% static 'css/map.css'%}" rel="stylesheet">



<div id="map">
<!--    <div id="menu0" class="menu">
        <div class="close"></div>
    </div>

    <div id="menuA" class="menu">
        <div class="close"></div>
    </div>

    <div id="menuB" class="menu">
        <div class="close"></div>
    </div>-->

<!--    <div id="btn0" class="btn">

    </div>


    <div id="btnA" class="btn">

    </div>

    <div id="btnB" class="btn">

    </div>-->

    <input type="button" value="0" onclick="fun0()">
    <input type="button" value="A" onclick="funA()">
    <input type="button" value="B" onclick="funB()">


    <div id="select-bar0" class="select-bar">
        0000
    </div>
    <div id="select-barA" class="select-bar">
        AAAA
    </div>
    <div id="select-barB" class="select-bar">
        BBBB
    </div>

</div>

<div id="Search">


</div>
{% endblock %}





{% block js %}



{% endblock %}
