{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/realmain.js' %}"></script>

<style>
    table#sourcetable tbody  tr {
    cursor : pointer;
}
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
이게 진짜 메인이다

<table id = "sourcetable" border="1">
                    <thead>
                        <tr>
                            <th>ContainerID</th>
                            <th>PortID</th>
                            <th>PortName</th>
                            <th>PortExportDate</th>
                            <th>PortCheck</th>
                        </tr>
                    </thead>
</table>


The field to fill in with second item of a row : <input type="text" id="fillname" value="" />

</body>
</html>

<script>




</script>