{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>




<script src="{% static 'js/realmain-pull.js' %}"></script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
이게 진짜 메인이다

<table id = "Container-table" border="1">
                    <thead>
                        <tr>
                            <th>ContainerID</th>
                            <th>PortID</th>
                            <th>PortName</th>
                            <th>PortExportDate</th>
                        </tr>
                    </thead>

</table>

</body>
</html>