{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>




<script src="{% static 'js/realmain-pull.js' %}"></script>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
이게 진짜 메인이다

<table id = "sourcetable" border="1">
                    <thead>
                        <tr>
                            <th>ContainerID</th>
                            <th>PortID</th>
                            <th>PortName</th>
                            <th>PortExportDate</th>
                        </tr>
                    </thead>
</table>


The field to fill in with second item of a row : <input type="text" id="fillname" value="" />

</body>
</html>

<script>

var pickedup;

$(document).ready(function() {
    $( "#sourcetable tbody tr" ).on( "click", function( event ) {

          // get back to where it was before if it was selected :
          if (pickedup != null) {
              pickedup.css( "background-color", "#ffccff" );
          }

          $("#fillname").val($(this).find("td").eq(1).html());
          $( this ).css( "background-color", "red" );

          pickedup = $( this );
    });
});

</script>