{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<!--<script src="{% static 'js/map.js' %}"></script>-->
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<!--<link href="{% static 'css/map.css'%}" rel="stylesheet">-->



<div id="tensor">
    <img src="{% static 'images/test1.png' %}">
    <img src="{% static 'images/test2.png' %}">
    <img src="{% static 'images/test3.png' %}">
    <img src="{% static 'images/test4.png' %}">
</div>


{% endblock %}





{% block js %}



{% endblock %}
