{% extends 'base.html' %}

{% block content %}

{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<!--<script src="{% static 'js/map.js' %}"></script>-->
<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<!--<link href="{% static 'css/map.css'%}" rel="stylesheet">-->
<script src="{% static 'js/tensor.js' %}"></script>
<link href="{% static 'css/tensor.css'%}" rel="stylesheet">

<div id="newimg">
    <img src="{% static 'images/graph2.png' %}">
</div>
<h2>데이터분석</h2>
<div>
<div class="slideshow-container">
    <img id= natingraph src="{% static 'images/nationgraph.jpg' %}">

<div class="fade">
  <div class="numbertext">  </div>
  <img src="{% static 'images/test1.png' %}" >
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="{% static 'images/test1.png' %}" >
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="{% static 'images/test2.png' %}" >
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="{% static 'images/test3.png' %}">
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="{% static 'images/test4.png' %}" >
</div>
  <div id = "dots">
  <div class="dot1">
      <span class="dot" onclick="currentSlide(1)"></span>

  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    </div>

<!--
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
-->

</div>
<br>


</div>


<div id="stuck">
 <span id="sttitle">관련 주식 예측&nbsp&nbsp&nbsp&nbsp</span> <span id="stsubtitle">정확도 82%</span><br>
  <div class=stdiv>
      <span>Wood<br>
       <span>(주)동양목재&nbsp&nbsp</span><span id="plus"> ▲0.58%</span><br>
       <span>(주)전일목재&nbsp&nbsp</span><span id="minus"> ▼2.13%</span><br>
       <span>(주)우건목재&nbsp&nbsp</span><span id="minus"> ▼1.42%</span>
       </span>
    </div>
     <div class="stdiv">
      <span>Gas<br>
        <span>(주)부경가스&nbsp&nbsp</span><span id="plus"> ▲3.13%</span><br>
        <span>(주)서진가스&nbsp&nbsp</span><span id="minus"> ▼0.59%</span><br>
        <span>(주)대성가스&nbsp&nbsp</span><span id="minus"> ▼2.87%</span></span>
      </div>
   <div class=stdiv>
    <span>Cloth<br>
       <span>(주)태람모피&nbsp&nbsp</span><span id="minus"> ▼5.02%</span><br>
       <span>(주)마로비즈&nbsp&nbsp</span><span id="minus"> ▼1.13%</span><br>
       <span>(주)한경패션nbsp&nbsp</span><span id="plus"> ▲4.69%</span></span>
   </div>
   <div class=stdiv>
    <span>Gemstone<br>
       <span>(주)한일공업&nbsp&nbsp</span><span id="minus"> ▼1.13%</span><br>
       <span>(주)우주광물&nbsp&nbsp</span><span id="plus"> ▲0.32%</span><br>
       <span>(주)신영그룹&nbsp&nbsp</span><span id="minus"> ▼3.13%</span>
    </span>
   </div>
</div>
{% endblock %}





{% block js %}



{% endblock %}
