

#topbar {
    float:left;
    width:100%;
    height:50px;
    background-color: rgb(27,53,85);
}


#sidebar {
    float:left;
    width:200px;
    height:100%;
    background-color:rgb(27,53,85);
    border-top: 0.5px solid rgb(112, 115, 117);
}

a {
   text-decoration : none;
   color : gray;
}

/*a:hover{
   background-color : rgb(49, 115, 168);
   color : black;
   display : block;
}*/
