#maindiv{
    float:left;
}

.div {
    width:95%;
    height:90%;
    /*border: 1px solid black;*/
    float:left;
}

#sidebar a{
   text-decoration : none;
   /*color : #a7a7a7;*/
   color : #a7a7a7;
   margin : 5%;
   line-height : 2.7;
   font-size : 19px;
}

#name_line{
    background-color:white;
    margin: 30 0 0 30px;
}

.section{
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin : 5px;
    margin-top : 70px;
    font-weight : bold;
}

#temperDiv{
margin-left : 102px
}

.temsection{    /*온도장치 절대위치변경->TOP/LEFT조절*/
    top:55%;
    left:22.2%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin-right: 15px;
    font-weight : bold;
}
#HumidX{
    margin-top: 30px;

}
#temperDiv{
    left : 50%:
    color : black;
}

.modalLink, .modalLink1{
    color : black;
    font-weight : bold;
}

p {
   margin-left : 5%;
   margin-top : 7%;
}

b {
    margin-left : 6%;
    vertical-align : middle;
}

input {
    border : 0px;
    background-color : rgb(243,243,243);
    width : 20%;
    height : 10%;
    outline : none;
}

select {
    border : 0px;
    background-color : rgb(243,243,243);
    width : 20%;
    height : 10%;
    outline : none;
}

button {
    border : 0px;
    background-color : rgb(71,164,71);
    color : white;
    width : 15%;
    height : 10%;
    font-weight : bold;
}

.humsection{    /*냉방장치 절대위치변경->TOP/LEFT조절*/
    top:53%;
    left:45.2%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin: 15px;
    font-weight : bold;
}

.doorsection{    /*개폐장치 절대위치변경->TOP/LEFT조절*/
    top:53%;
    left:68.8%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin: 15px;
    font-weight : bold;
    vertical-align : middle;
}

#HumidDiv{
    left:10%;
}

#second_line{
    margin: 30px 0px 0px 0px;

}

.checksection{    /* 컨테이너 체크여부 절대위치변경->TOP/LEFT조절*/
    top:13.7%;
    left:68.8%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin: 15px;
    font-weight : bold;

.se{
    position:float;
    border: 1px solid black;
}


#DoTemp_On{
    z-index:3;

}

#UpTemp_On{
    z-index:2;
}

#Temp_Module_Off{
    z-index:1;
}
#temperDiv{
    margin: 15 15 15 30px;
}


#UpHumid_On{
    z-index:3;
}

#UpHumid_Off{
    z-index:2;
}

#Humid_Module_Off{
    z-index:1;
}


#doorMac{
    z-index:3;
}

#doorMacA{
    z-index:2;
}

#doorMacB{
    z-index:1;
}


/*#temperMac{
    margin: 15 15 15 30px;
}*/

a{
    color:black;
 }

.mask{width:100%;
    height:100%;
    position:fixed;
    left:0; top:0; z-index:10;
    background:#000;
    opacity:.5;
    filter:alpha(opacity=50);}

#modalLayer{display:none;
    position:relative;}
#modalLayer1{display:none;
    position:relative;}
#modalLayer .modalContent{width:440px;
    height:200px;
    padding:20px;
    border:1px solid #ccc;
    position:fixed;
    left:50%;
    top:50%;
    z-index:11;
    background:#fff;}
#modalLayer .modalContent button{position:absolute;
    right:0; top:0;
    cursor:pointer;}


#modalLayer1 .modalContent1{width:440px;
    height:200px;
    padding:20px;
    border:1px solid #ccc;
    position:fixed;
    left:50%;
    top:50%;
    z-index:11;
    background:#fff;}
#modalLayer1 .modalContent1 button{position:absolute;
    right:0; top:0;
    cursor:pointer;}

.Date{
margin-left:100px;
}

h6{
    color: grey;
    margin-left:200px;
}