#maindiv{
float:left;
}

.div {
width:300px;
height:300px;
border: 1px solid black;
float:left;
}

#name_line{
    background-color:white;
    margin: 30 0 0 30px;
}

.section{
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin: 15px;
}

#temperDiv{
    margin: 15 15 15 30px;
}

#temperMac{
    margin: 15 15 15 30px;
}