#maindiv{
    float:left;
}

.div {
    width:95%;
    height:90%;
    /*border: 1px solid black;*/
    float:left;
}

#sidebar a{
   text-decoration : none;
   /*color : #a7a7a7;*/
   color : #a7a7a7;
   margin : 5%;
   line-height : 2.7;
   font-size : 19px;
}

#name_line{
    background-color:white;
    margin: 30 0 0 30px;
}

.section{
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin : 5px;
    margin-top : 70px;
    font-weight : bold;
}
.temsection{    /*온도장치 절대위치변경->TOP/LEFT조절*/
    top:55%;
    left:19.3%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin-right: 15px;
    font-weight : bold;
}
#HumidX{
    margin-top: 30px;
}

.modalLink, .modalLink1{
    color : black;
    font-weight : bold;
}

p {
   margin-left : 7%;
   margin-top : 7%;
   font-size : 19px;
   margin-bottom : 3%;
}

b {
    margin-left : 6.2%;
    color : #5d5d5d;
}

h {
    font-size : 18px;
    margin-left : 7%;
    float : left;
}

h1 {
    font-size : 18px;
    color : #5d5d5d;
    margin-left : 17%;
    margin-top : 23%;
}

h2 {
    font-size : 18px;
    color : #5d5d5d;
    margin-left : 18.5%;
    margin-top : 23%;
}

h3 {
    font-size : 18px;
    color : #5d5d5d;
    margin-left : 22%;
    margin-top : 23%;
}

h4 {
    font-size : 18px;
    color : #5d5d5d;
    margin-left : 31%;
    margin-top : 23%;
}


#TemperDate, #HumidDate {
    margin-left : 1.5%;
}

#TemperY, #HumidY {
    margin-left : 7.1%;
    margin-top : 5%;
    margin-bottom : 2%;
}

#TemperX b{
    margin-`top : 30%;
}
input {
    border : 0px;
    background-color : rgb(243,243,243);
    width : 20%;
    height : 10%;
    outline : none;
}

select {
    border : 0px;
    background-color : rgb(243,243,243);
    width : 20%;
    height : 10%;
    outline : none;
}

button {
    border : 0px;
    background-color : rgb(71,164,71);
    color : white;
    width : 15%;
    height : 10%;
    font-weight : bold;
}

.humsection{    /*냉방장치 절대위치변경->TOP/LEFT조절*/
    top:53%;
    left:44.2%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin: 15px;
    font-weight : bold;
}

.doorsection{    /*개폐장치 절대위치변경->TOP/LEFT조절*/
    top:53%;
    left:70.3%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    margin: 15px;
    margin-left : 17px;
    font-weight : bold;
    vertical-align : middle;
}

#HumidDiv {
    position:absolute;
    top : 1%;
    left:45%
}

#temperDiv{
    position:absolute;
    left: 19%;
    top : 1%;

    color : black;
}

#second_line{
    margin: 30px 0px 0px 0px;
}

.checksection{    /* 컨테이너 체크여부 절대위치변경->TOP/LEFT조절*/
    top: 11.1%;
    left:70.3%;
    position:absolute;
    width:350px;
    height:280px;
    background-color:white;
    float:left;
    font-weight : bold;
    margin-left : 17px;
}

#SetTemperX p{
    float : left;
    font-size : 18px;
    margin-left : 7%;
    margin-top : 15.5%;
}

#SetTemper select {
    margin-left : 4%;
    margin-top : 15%;
    width : 70px;
    height : 27px;
}

#SetTemper button {
    margin-top : 12.7%;
    width : 50px;
    height : 27px;
    margin-left : 3%;
}

#SetHumid p{
    float : left;
    font-size : 18px;
    margin-left : 7%;
    margin-top : 15.5%;
}

#SetHumid select {
    margin-left : 4%;
    margin-top : 15%;
    width : 70px;
    height : 27px;
}

#SetHumid button {
    margin-top : 12.7%;
    width : 50px;
    height : 27px;
    margin-left : 3%;
}

img{
    width : 22px;
    height : 22px;
    margin-top : 3.5%;
    margin-left : -4.5%;
}

.se{
    position:float;
    border: 1px solid black;
}


#DoTemp_On{
    z-index:3;

}

#UpTemp_On{
    z-index:2;
}

#Temp_Module_Off{
    z-index:1;
}


#UpHumid_On{
    z-index:3;
}

#UpHumid_Off{
    z-index:2;
}

#Humid_Module_Off{
    z-index:1;
}


#doorMac{
    z-index:3;
}

#doorMacA{
    z-index:2;
}

#doorMacB{
    z-index:1;
}


/*#temperMac{
    margin: 15 15 15 30px;
}*/

a{
    color:black;
 }

.mask{width:100%;
    height:100%;
    position:fixed;
    left:0; top:0; z-index:10;
    background:#000;
    opacity:.5;
    filter:alpha(opacity=50);}

#modalLayer{display:none;
    position:relative;}

#modalLayer1{display:none;
    position:relative;}

#modalLayer .modalContent{width:240px;
    height:100px;
    padding:20px;
    border:1px solid #ccc;
    position:fixed;
    left:37%;
    top:46%;
    z-index:11;
    background:#fff;
    }

#modalLayer .modalContent button{
    position:absolute;
    cursor:pointer;
}

#modalLayer1 .modalContent1{width:240px;
    height:100px;
    padding:20px;
    border:1px solid #ccc;
    position:fixed;
    left:61%;
    top:46%;
    z-index:11;
    background:#fff;}

#modalLayer1 .modalContent1 button{
    position:absolute;
    cursor:pointer;
}

.Date{
margin-left:100px;
}

/*
h6{
    color: grey;
    margin-left:200px;
}
*/