/*table#sourcetable tbody  tr {
    cursor : pointer;
}*/

#sourcetable{
    width : 81%;
    text-align : center;
    margin-top : 3%;
    margin-left : 16.8%;
    border-collapse: collapse;
    line-height: 2.5;
    border-left: 1px solid #00ff0000;
    border-right: 1px solid #00ff0000; /* 세로선 투명 */
    table-layout : fixed; /* 너비고정 */
}

thead { /* 표 상단 */
    border-bottom :2px solid rgb(27, 53, 85) ;
    background-color : rgba(40, 66, 96, 0.07);
    border-top : 2px solid rgb(27, 53, 85) ;
}

tbody { /* 표바닥 */
    border-bottom : 2px solid rgb(27, 53, 85) ;
}

tr { /* 가로줄 */
    border-bottom : 1px solid black;
}

tr:hover {
    background-color : rgba(40, 66, 96, 0.07);
}


/*  Switch CSS */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
  margin:0px;
  display:inline-block;
  font-size:15px;
  font-weight:bold;
}

/*input*/
input {
   background-color : rgb(239,239,239);
   border : 2px solid rgb(27, 53, 85);
   width : 200px;
   height :37px;
   margin-top : 1.5%;
   margin-bottom : 1.5%;
   margin-left : 69.7%;
   float:left;
}

input:focus {
    outline : none;
}

img {
  width : 37px;
  height : 37px;
  float : left;
  margin-top : 1.5%;
  float : left;
}

#fillname{
    display: none;
}