#map{
float:left;
}

#SectionF{
width:200px;
height:200px;
background-color:blue;
}

#SectionA{
width:200px;
height:200px;
background-color:orange;
}

#SectionB{
width:200px;
height:200px;
background-color:skyblue;
}